<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Notes application</title>
	<link rel="stylesheet" href="/webjars/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row mt-3">
			<div class="col-md-6">
				<input id="search" class="form-control" type="text" placeholder="Search..." aria-label="Search">
			</div>
			<div class="col-md-6">
				<button type="button" class="btn btn-info" id="search-btn">Search</button>
				<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Create</button>
			</div>
		</div>
		<div class="row mt-3">
			<div class="container" id="notes-container">
			</div>
		</div>
	</div>

	<script id="notes-template" type="text/x-handlebars-template">
		{{#each this}}
			<div class="p-3 mb-2 text-dark note-container" style="background-color: #FFEBCD">
				<div class="container">
					<div class="row font-weight-bold">{{title}}</div>
					<div class="row">{{text}}</div>
					<div class="row">
						<button type="button" class="btn btn-danger btn-sm delete-btn" note-id="{{id}}" onclick="remove(this)">Delete</button>
					</div>
				</div>
			</div>
		{{else}}
		<div class="p-3 mb-2 text-white" style="background-color: #ff454a">
			<div class="container">
				<div class="row">Notes not found</div>
			</div>
		</div>
		{{/each}}
	</script>

	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="container">
						<div class="row mt-3">
							<input id="title" class="form-control" type="text" placeholder="Title" aria-label="Title">
						</div>
						<div class="row mt-3">
							<textarea id="text" class="form-control" type="text" placeholder="Text" aria-label="Title"></textarea>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button id="save-btn" type="button" class="btn btn-success">Save</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>

	<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<script src="/webjars/handlebars/4.0.11-1/handlebars.min.js"></script>

	<script>
		function getHandlebarsHtml(data) {
			var source = $("#notes-template").html();
			var template = Handlebars.compile(source);
			return template(data)
		}

		$(function () {
			$.ajax('/list', {
				method: "GET"
			}).done(function (data) {
				$('#notes-container').html(getHandlebarsHtml(data));
			}).fail(function (data) {
				showErrors(data);
			});
		});

		function search() {
			$.ajax('/search', {
				method: "GET",
				data: {
					query: $('#search').val()
				}
			}).done(function (data) {
				$('#notes-container').html(getHandlebarsHtml(data));
			}).fail(function (data) {
				showErrors(data);
			});
		}

		$('#search').keyup(function(e){
			if(e.keyCode === 13) {
				search();
			}
		});

		$('#search-btn').click(function () {
			search()
		});

		function showErrors(data) {
			var errorMessages = jQuery.map(data.responseJSON, function (e) {
				return e.message;
			});
			alert(errorMessages.join("\n"));
		}

		$('#save-btn').click(function(){
			$.ajax('/save', {
				method: "POST",
				data: JSON.stringify({ title: $("#title").val(), text: $("#text").val() }),
				contentType: "application/json; charset=UTF-8"
			}).done(function (data) {
				$('#notes-container').prepend(getHandlebarsHtml(data));
				$("#title").val("");
				$("#text").val("");
				$('#myModal').modal('toggle');
			}).fail(function (data) {
				showErrors(data);
			});
		});


		function remove(button) {
			if(!confirm("Are you sure")) {
				return;
			}
			$.ajax('/delete/' + $(button).attr("note-id"), {
				method: "DELETE"
			}).done(function () {
				$(button).closest(".note-container").remove();
			}).fail(function (data) {
				showErrors(data);
			});
		}
	</script>
</body>
</html>